<!doctype html>
<html lang="en">

<head>

	<!--
	palette:
	dark blue: #003F72
	yellow: #FFD166
	salmon: #EF476F
	offwhite: #e7d7d7
	Light Blue: #118AB2
	Light green: #7DDF64
	-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-FNFJVCJRGT"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-FNFJVCJRGT');
	</script>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Tari Kitchen Website">
	<meta name="author" content="Guillaume Bournique">
	<title>Tari Kitchen</title>

	{% load static %}
	<!-- Loading css from tinyMCE app -->
	<link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
	<!-- Minified customised CSS, compiled Materialize SSAS using Koala -->
	<link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<!-- Additional CSS files -->
	<link href="{% static 'css/googleapis.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link rel="shortcut icon" href="{% static 'favicon.ico' type='image/x-icon' %}">
	<link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">

	<!-- Load JS files in head for MaterializeCSS Toasts -->
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/materialize.js' %}"></script>
	<script src="{% static 'js/init.js' %}"></script>

	<style>
		spanblack {
			background-color: #212121;
		}
	
		img {
			max-width: 100%;
			height: auto;
			width: auto\9; /* ie8 */
		}
		blockquote {
			margin: 20px 0;
			padding-left: 1.5rem;
			border-left: 5px solid #e0e0e0; /* Just change the color value and that's it*/
		}
	</style>

</head>

<body>

	<header>
		{% include "main/includes/navbar.html" %}
		{% block header %}
		{% endblock %}
	</header>

	<main>
		{% include "main/includes/messages.html" %}
		{% block content %}
		{% endblock %}
	</main>

	<footer>
		{% block footer %}
		{% endblock %}
	</footer>

</body>

<!-- Compiled and minified JavaScript -->
<script src="{% static 'tinymce/js/prism.js' %}"></script>
<script>M.AutoInit();</script>

</html>