{% load static %}
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h2 class="header center pink-text text-lighten-2">&nbsp</h2>
      <div class="row center">
        <h5 class="header col s12 light"><spanblack><i>&nbsp Exquisite food by Chef Tari &nbsp</i></spanblack></h5>
      </div>
      <div class="row center">
        <a href="/items" id="viewitems-button" class="btn-large waves-effect waves-light brown lighten-1">Recettes 👩🏻‍🍳</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="{% static 'background1.jpg' %}" alt="Unsplashed background img 1"></div>
</div>
