{% load static %}  
<footer id="my-footer" class="page-footer grey" style="position:sticky;bottom:0;left:0;width:100%;">
  <div class="container">
    <div class="row">
      <div class="col l9 s12">
        <h5 class="white-text"><a class="btn-floating grey darken-2 pulse"><i class="large material-icons">kitchen</i></a>&nbsp;&nbsp; About Tari Kitchen</h5>
        <p class="grey-text text-lighten-4">
          Tari Kitchen vous accueille dans une ambiance authentique.
          Retrouvez toutes les saveurs asiatiques et françaises sur place, avec un buffet retravaillé de plus de 1001 plats à volonté.
          <br>
          Nos spécialités ne manqueront pas de faire plaisir à toutes les papilles, avec vue sur notre cuisine ouverte pour observer le chef Tari à l'œuvre.
        </p>
      </div>
      <div class="col l3 s12 center">
        <h5 class="white-text">Connect</h5>
        <br>
        <div class="col l3 s3">
          <a class="white-text" href="#"><img style="object-fit:contain; width:24px; height:24px" src="/staticfiles/logo-facebook.png"></a>
        </div>
        <div class="col l3 s3">
          <a class="white-text" href="#"><img style="object-fit:contain; width:24px; height:24px" src="/staticfiles/logo-twitter.png"></a>
        </div>
        <div class="col l3 s3">
          <a class="white-text" href="#"><img style="object-fit:contain; width:24px; height:24px" src="/staticfiles/logo-instagram.png"></a>
        </div>
        <div class="col l3 s3">
          <a class="white-text" href="#"><img style="object-fit:contain; width:24px; height:24px" src="/staticfiles/logo-youtube.png"></a>
        </div>
        <br><br>
        <ul>
          <p class="grey-text text-lighten-4"><small><a style="color:#FFFFFF;" href="/contact"><u>Contact us</u></a></small></p>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p style="text-align:left;">
        <small> © Tari Kitchen 2022 </small>
        | <small>  Guillaume Bournique </small>
        | <small> Source code on <a class="grey-text text-darken-3" href="https://github.com/gbourniq/django-on-aws/tree/main" target="_blank">Github</a>
          <span style="float:right;">
              <small>aws-ec2-details-placeholder</small>
          </span>
      </p>
    </div>
  </div>
</footer>