{% load static %}  
<footer id="my-footer" class="page-footer teal" style="position:sticky;bottom:0;left:0;width:100%;">
  <div class="container">
    <div class="row">
      <div class="col l9 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Source code on <a class="brown-text text-lighten-3" href="https://github.com/gbourniq/portfolio/tree/master">Github</a>
    </div>
  </div>
</footer>