{% load static %}  
<footer id="my-footer" class="page-footer grey" style="position:sticky;bottom:0;left:0;width:100%;">
  <div class="container">
    <div class="row">
      <div class="col l9 s12">
        <h5 class="white-text">About Tari Kitchen</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum tari kitchen sit amet, consectetur adipiscing tari kitchen. Nullam tari kitchen tari kitchen id nunc nec volutpat. Etiam pellentesque tari kitchen arcu, non consequat tari kitchen fermentum ac. Lorem ipsum dolor sit amet, consectetur tari kitchen elit. Lorem ipsum dolor sit amet, consectetur tari kitchen elit.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p style="text-align:left;">
        Source code on <a class="brown-text text-lighten-3" href="https://github.com/gbourniq/django-on-aws/tree/main" target="_blank">Github</a>
          <span style="float:right;">
              aws-ec2-details-placeholder
          </span>
      </p>
    </div>
  </div>
</footer>