{% load static %} 
<div class="container">
  <div class="section">
    <div class="row">

    <!--   Icon Section   -->
    {% comment %} All icons at https://materializecss.com/icons.html {% endcomment %}

      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center amber-text">
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
          </h5>
          <h5 class="center">Un voyage des papilles</h5>
          <blockquote>
            <p class="light">
              Une belle occasion de (re)découvrir de vrais plats au curry. Des goûts raffinés, et des produits frais et goûteux. Une explosion de saveurs en bouche. - Chmie
            </p>
          </blockquote>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center amber-text">
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
          </h5>
          <h5 class="center">À faire absolument!</h5>
          <blockquote>
            <p class="light">
              Très belle découverte, le personnel est très agréable et d’excellent conseil - les mesures COVID sont en place - je recommande vivement. - Moyne
            </p>
          </blockquote>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center amber-text">
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star_half</i>
          </h5>
          <h5 class="center">Dîner de Noël très réussi</h5>
          <blockquote>
            <p class="light">
              Un super dîner de Noël en famille très réussi, au coeur de la Vendée ! La maison est très accueillante et la piscine au top. Je compte y retourner bientôt :). - JM
            </p>
          </blockquote>
        </div>
      </div>

    </div>
  </div>
</div>
