{% load static %} 
<div class="container">
  <div class="section">
    <div class="row">

    <!--   Icon Section   -->
    {% comment %} All icons at https://materializecss.com/icons.html {% endcomment %}

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>
          <p class="light">This project demonstrates how a sample blog-like django webapp can be deployed to the AWS Cloud. The website static content, ie. items and categories data, is managed through the Django admin panel. The application features a user registration system for users to subscribe to new content notifications.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">cloud_done</i></h2>
          <h5 class="center">AWS services architecture</h5>
          <p class="light">A microservices architecture approach was implemented using AWS managed services, with the ability to auto-scale a dynamic fleet of EC2 instances based on demand and schedule. Network and compute performance metrics are monitored in a custom AWS CloudWatch Dashboard.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Infrastructure as code</h5>
          <p class="light">Use of nested AWS CloudFormation templates to easily create, update and delete the entire application <a class="brown-text text-lighten-3" href="https://github.com/gbourniq/django-on-aws/blob/main/.github/app-architecture.png">AWS infrastructure</a>. Application deployment to a running fleet of EC2 instances via the AWS CodeDeploy service. Automated weekly CI/CD pipeline to test the application code, infrastructure code, and deployment scripts.</p>
        </div>
      </div>

    </div>
  </div>
</div>
