{% load static %} 
<div class="container">
  <div class="section">
    <div class="row">

    <!--   Icon Section   -->
    {% comment %} All icons at https://materializecss.com/icons.html {% endcomment %}

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>
          <p class="light">This web application is a public Django project which can be used as a template to easily create any personal website. The Web UI consists of the modern and responsive MaterializeCSS framework, which is based on Material Design by Google.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">DevOps focused</h5>
          <p class="light">The repository features a documented set of environment variables, and a CI/CD pipeline to ensure a robust application code base and deployment steps (Ansible, Docker, Kubernetes). Individual commands can be triggered conveniently via Makefiles.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">cloud_done</i></h2>
          <h5 class="center">AWS services integration</h5>
          <p class="light">Deploying the app using AWS Free Tier services is made easy with the existing repository configurations. An extensive guide is also provided, which covers everything from AWS services configurations to detailed application deployment steps.</p>
        </div>
      </div>

    </div>
  </div>
</div>
