{% load static %}  

<div class="container" style="max-width:1500px; min-height:100%">

  <div class="row"> 
    <br>
    <div class="col l9 m9 s12">
      <div class="container-fluid" align="left" >
        <div class="center">
          <h3>{{item.item_name}}</h3>
          <p style="font-size:80%"><i>{{item.date_published}}</i></p>
          <br>
          <img class="img-responsive" src="{{ item.image.url }}"></img>
          <hr style="width:80%">
          <br>
        </div>
      {{item.content|safe}}
      </div>
    </div>
    
    <br>
    <div class="col l3 m3 s12">
      <ul class="collapsible popout" data-collapsible="accordion" style='font-size:85%; padding-left:30px'>
        {% for item in sidebar %}
          {% if forloop.counter0 == this_item_idx %}
            <li class="active">
              <div class="collapsible-header"><i class="material-icons">visibility</i>{{item.item_name}}</div>
            </li>
          {% else %}
            <li>
              <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>{{item.item_name}}</div>
              <div class="collapsible-body">
                <p><a href="/items/{{category.category_slug}}/{{item.item_slug}}"><button class="btn waves-effect waves-light right-align" style="background-color:gray; color:white">Go</button></a></p>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div>
</div>