{% load static %}  
<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <div class="icon-block">
          <h3 class="header center grey-text text-darken-3">All Items <i class="material-icons">widgets</i></h3>
        </div>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat.</p>
      </div>
    </div>

  </div>
</div>