{% load static %}  
<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <div class="icon-block">
          <h3 class="header center grey-text text-darken-3">Recettes 👩🏻‍🍳</h3>
        </div>
        <!-- <p class="left-align light">
          <Lorem ipsum tari kitchen sit amet, consectetur adipiscing elit. Nullam tari kitchen id nunc nec volutpat. Etiam pellentesque tari kitchen arcu, non consequat magna tari kitchen ac. Cras ut ultricies eros. Lorem ipsum tari kitchen sit amet, consectetur adipiscing elit. Nullam tari kitchen id nunc nec volutpat.>
        </p> -->
      </div>
    </div>

  </div>
</div>