aws_pem_key_name  = "mypersonalkeypair"
environment       = "dev"
instance_count    = 2
provisioning_logs = "~/path/to/tf_provisioning.log"
tag_name          = "Dev deployment"
vpn_ip            = "123.123.123.123/32"
